.faq__right {
  margin-top: -5rem;
  &__title {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    @media screen and (max-width:$bp-large) {
      text-align: center;
    }
  }
}

.accordion {
  max-width: 35rem;
  @media screen and (max-width:$bp-large) {
    max-width: 100%;
  }
  &__item {
    position: relative;
  }

  &__question {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
    margin-top: 3rem;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: $lightred;
    }
  
    &.open {
      font-weight: 700;
    }
  }

  &__icon {
    color: $lightred;
    transition: transform .2s;
  }
  // ROTATING ICON ON CLICK
  .accordion__question.open .accordion__icon {
    transform: rotate(-180deg);
  }

  &__answer {
    margin-top: 1rem;
    line-height: 2rem;
    color: $darkblue-lighter;
  }

  &__divider {
    border-bottom: .1rem solid $grayblue; /* Gray divider line */
    position: absolute;
    bottom: -1.7rem;
    left: 0;
    width: 100%;
  }
}